﻿<h1>Student #1</h1> </br>
Student Name : <input type="text" name="Studentname" value="@ViewBag.StudentName" /></br>
Room Number  : <input type="text" name="RoomNo" value="@ViewBag.RoomNumber" /></br>
Date of Join : <input type="text" name="Joiningdate" value="@ViewBag.JoiningDate" /></br>
Age          : <input type="text" name="Age" value="@ViewBag.Age" /></br>

<h2>Student #2</h2> </br>
Student Name : <input type="text" name="Studentname" value="@ViewBag.StudentName1" /></br>
Room Number  : <input type="text" name="RoomNo" value="@ViewBag.RoomNumber1" /></br>
Date of Join : <input type="text" name="Joiningdate" value="@ViewBag.JoiningDate1" /></br>
Age          : <input type="text" name="Age" value="@ViewBag.Age1" /></br>
dhskjahd